@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
}

:root {
	--background-color: black;
	--header-color: #3649628b;
	--chapter-background-color: #63798c;
	--main-containers-color: #63798c;
	--font-family: "Outfit", Segoe UI, sans-serif;
	--button: #d8dee9;
	--color: black;

	--background-image: url(bogosBinted/background-main1.png)
}

:root.contrast {
	--border-header-contrast: 3px solid yellow;
	--chapter-background-color: black;
	--header-color: black;
	--button: black;
	--color: white;
	--background-image: url(bogosBinted/background-main1-contrast.png	);
}

html {
	font-size: 17px;
	color: white;
}

body {
	background-color: var(--background-color);
	position: relative;
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center
}

#loading-screen {
	position: fixed;
	right: 0;
	top: 0;
	background-color: #0b0c0f;
	width: 100vw;
	/* height: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	z-index: 12;
	opacity: 1;
	animation-duration: 0.3s;
	animation-timing-function: ease;
	animation-name: loadingScreenOp;
	animation-fill-mode: forwards;
	animation-delay: 3s;
	overflow: hidden;
}

@keyframes loadingScreenOp {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#loading-screen li {
	display: inline-block;
	list-style-type: none;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	animation-name: loadingScreen;
	animation-duration: 2s;
	animation-timing-function: ease;
	margin-right: 0px;
	font-size: 40px;
	margin: 0px 10px;
	text-align: center;
	user-select: none;
	color: white;
}

@keyframes loadingScreen {
	0% {
		font-size: 80px;
		margin: 0px 100px;
		color: var(--chapter-background-color);
	}
	70% {
		font-size: 40px;
		margin: 0px 10px;
		color: var(--chapter-background-color);
	}
	100% {
		color: white;
	}
}

/* ---------------------------------------------------- */
/* --------------------- SAMOUCZEK -------------------- */
/* ---------------------------------------------------- */

.samouczek {
	border: 3px solid red;
	animation-name: samouczek-animacja;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	color: rgb(108, 108, 108);
}

@keyframes samouczek-animacja {
	0% {background-color: rgba(255, 136, 136, 1)}
	50% {background-color: rgba(255, 255, 255, 0.75);}
	to {background-color: rgba(255, 136, 136, 1)}
}

/* ---------------------------------------------------- */
/* ---------------------- HEADER ---------------------- */
/* ---------------------------------------------------- */

header {
	background-color: var(--header-color);
	transition: 0.3s ease background-color;
	font-family: var(--font-family);
	position: sticky;
	top: 0;
	z-index: 10;
	box-shadow: 0px 0px 15px 0px #efece8;
	border: var(--border-header-contrast);
}

#header-section {
	max-width: 1300px;
	margin: 0px auto;
}

#header-section nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#header-section #chapter-burger #chapter {
	background-color: var(--chapter-background-color);
	border: var(--border-header-contrast);
	transition: 0.3s ease background-color;
	font-size: 1.7rem;
	position: relative;
	top: 20px;
	border-radius: 10px;
	padding: 10px 20px 12px;
	text-align: center;
}

#header-section nav h1 {
	margin: 0px;
	white-space: nowrap;
}

#contrast-and-font-size {
	font-size: 1.75rem;
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#contrast-and-font-size i {
	cursor: pointer;
	margin: 5px 10px;
	transition: 0.2s ease color;
}

#header-section #resources {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: fit-content;
	border: var(--border-header-contrast);
	gap: 30px;
}

#header-section nav #resources ul, #alien-relations {
	display: flex;
	justify-content: center;
	padding: 0px;
}

#header-section nav #resources ul li, #alien-relations li {
	list-style-type: none;
	font-size: 2rem;
	margin: 0px 20px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	--pseudoElColor: #c7af42;
}

#header-section nav #resources ul li:nth-child(1n+3) {
	display: none;
}

ul#alien-relations {
	display: none;
	flex-direction: column;
	background-color: var(--chapter-background-color);
	color: white;
	border: var(--border-header-contrast);
	padding: 15px;
	border-bottom-right-radius: 10px;
	position: fixed;
	top: 94px;
	margin: 0px;
	width: fit-content;
}

#alien-relations li {
	list-style-type: none;
	font-size: 2rem;
	margin: 10px 0px;
	text-align: center;
}

#header-section nav #resources ul li i, #alien-relations li i {
	margin: 0px auto;
}

#header-section nav #resources ul li div:first-of-type, #alien-relations li div:first-of-type {
	width: 7px;
	display: block;
	border: 1px solid white;
	box-sizing: content-box;
	margin-left: 10px;
	border-radius: 3px;
}

#header-section nav #resources ul li div:first-of-type::after, #alien-relations li div:first-of-type::after {
	content: "";
	background-color: var(--pseudoElColor);
	width: 7px;
	height: 100%;
	display: block;
	transform-origin: bottom right;
	float: right;
	transform: var(--transform);
	transition: 0.2s ease;
	transition-property: background-color, transform;
}

.iconCaption {
	position: fixed;
	top: 80px;
	background-color: white;
	color: black;
	border-radius: 10px;
	padding: 5px 10px;
	font-size: 1.2rem;
	font-weight: bolder;
	transition: 0.2s ease transform;
}

.iconCaption.closing {
	transform: translateY(-250px);
	transition: 0.3s ease transform;
}

.iconCaption.closed {
	display: none;
}

#burger {
	display: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 1100px) {
	header {
		display: flex;
		position: fixed;
		top: 0;
		width: fit-content;
		margin: 0px 0px 0px auto;
		border-bottom-left-radius: 25px;
		background-color: rgba(0, 0, 0, 0);
		transition: 0.2s ease transform;
		right: 0;
		box-shadow: none;
		border: 0px;
	}
	#header-section #chapter-burger {
		display: flex;
		flex-direction: row;
	}
	#contrast-and-font-size {
		position: fixed;
		top: 20px;
		left: 50%;
		transform: translate(-50%);
	}
	#header-section #chapter-burger #chapter {
		margin: 0px;
		padding: 15px;
		position: static;
		align-self: flex-start;
		border-radius: 0px;
		font-size: 1.5rem;
		border-bottom-left-radius: 25px;
	}
	#header-section nav {
		align-items: flex-end;
		flex-direction: column;
	}
	#header-section nav #resources {
		padding: 10px 10px 20px;
		gap: 0px;
		font-size: 2rem;
		background-color: var(--chapter-background-color);
		border-bottom-left-radius: 25px;
		transform: translateX(160px);
		transition: 0.3s ease transform;
		flex-direction: column;
	}
	ul#alien-relations {
		margin: 0px;
		top: 0;
		width: fit-content;
		transform: translateX(-160px);
		transition: 0.3s ease transform;
	}
	ul#alien-relations.open {
		transform: translateX(0px);
	}
	#header-section nav #resources.open {
		transform: translateX(0px);
	}
	#header-section nav #resources ul {
		flex-direction: column;
		width: fit-content;
		gap: 20px;
		margin: 0px;
	}
	#header-section nav #resources #resources-container {
		margin-top: 15px;
	}
	#burger {
		display: block;
		font-size: 2.5rem;
		margin: 10px 10px;
		cursor: pointer;
	}
	.iconCaption {
		position: fixed;
		left: -100px;
		top: auto;
	}
	.iconCaption.closing {
		transform: translateX(250px);
		transition: 0.3s ease transform;
	}
}

/* ---------------------------------------------------- */
/* ----------------------- MAIN ----------------------- */
/* ---------------------------------------------------- */

.background-image-index {
	background-image: url(bogosBinted/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.main-index {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
}

main {
	display: flex;
	justify-content: center;
	margin: 0px 0px 50px;
}

#main-section-index {
	font-family: Outfit;
	border: 5px solid var(--header-color);
	border-radius: 10px;
	padding: 50px 0px;
	text-align: center;
	font-size: 25px;
	margin-top: 20px;
}

#main-section-index {
	width: 45%;
	text-decoration: none;
	color: var(--button)
}

#main-section {
	display: flex;
	justify-content: space-evenly;
	font-family: var(--font-family);
	width: 70%;
	padding-top: 80px;
	max-width: 800px;
}

#main-section a {
	text-decoration: none;
	color: white;
	width: 50%;
	max-width: 430px;
	min-width: 200px;
}


#main-section .choice {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	z-index: 1;
}

#main-section .choice #middleDiv {
	display: flex;
	flex-direction: column;
	margin: 0px auto 15px;
}

#main-section .choice #middleDiv .whoInfo {
	align-items: center;
	width: 100%;
	gap: 0px;
	margin: 10px 0px 0px 0px;
	display: grid;
	grid-template-columns: 0.1fr 1fr;
	grid-template-rows: 0.5fr 1fr;
}

#main-section .choice #middleDiv .bigPhoto {
	width: 80%;
	max-width: 400px;
	min-width: 400px;
	margin: 0px auto;
	border-radius: 20px;
}

#main-section .choice #middleDiv .linePhoto {
	width: 50px;
	border-radius: 10px;
}

#main-section .choice #middleDiv .lineWho {
	width: fit-content;
	font-size: 2rem;
	margin: 0px 0px 0px 10px;
}

#main-section .choice #middleDiv .lineText {
	grid-column: 1/3;
	margin: 10px;
}

#main-section .choice #decision-button {
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#main-section .choice #decision-button div {
	display: flex;
	justify-content: center;
}

#main-section .choice #decision-button div {
	border-radius: 5px;
}

#main-section .choice #decision-button div.samouczek button {
	background-color: rgba(0,0,0,0);
}

#main-section .choice #decision-button button {
	border-radius: 5px;
	padding: 10px 25px;
	font-size: 1rem;
	font-weight: bold;
	width: fit-content;
	cursor: pointer;
	border: var(--border-header-contrast);
	transition: 0.2s ease;
	transition-property: background-color, color;
}

#main-section .choice #decision-button button:hover {
	background-color: #4c566a;
}

.gameOver {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	background-attachment: fixed;
	background-image: url(bogosBinted/gameOver.png);
	opacity: 0;
	transition: 1.5s ease opacity;
	position: relative;
}

.gameOverDeath {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	background-attachment: fixed;
	background-image: url(bogosBinted/gameOverSmierc.png);
}

@media only screen and (max-width: 700px) {
	.gameOver {
		background-image: url(bogosBinted/gameOverResp.png);
	}	
}

.gameOverContainer {
	position: absolute;
	top: 600px;
	width: 80%;
	text-align: center;
	left: 50%;
	transform: translate(-50%);
}

.gameOverImage {
	max-width: 100vw;
	margin: 0px auto;
	width: 100vw;
	position: fixed;
	top: 0;
}

.gameOverP {
	font-family: Outfit, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-size: 2rem;
	text-align: center;
}

.playAgain {
	font-family: Rubik, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 2px solid red;
	border-radius: 10px;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	background-color: #ce5263;
}

#samouczek-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	bottom: 200px;
}

#samouczek-box {
	font-size: 17px;
	border: 3px solid red;
	background-color: white;
	width: 40%;
	min-width: 370px;
	max-width: 370px;
	padding: 5px 10px;
	border-radius: 20px;
	color: black;
	font-weight: bold;
	text-align: center;
	font-family: Rubik, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#samouczek-next {
	padding: 10px 15px;
	position: absolute;
	bottom: -60px;
	background-color: white;
	cursor: pointer;
	user-select: none;
	color: black;
	border-radius: 20px;
	font-weight: bolder;
	border: 3px solid red;
}

@media only screen and (max-width: 1000px) {
	.main-index {
		margin-top: 100px
	}
	#main-section-index {
		width: 70%;
	}
	#main-section {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 40px;
	}
}

@media only screen and (max-width: 920px) {
	.main-index {
		padding-top: 0px;
	}
	#main-section .choice #decision-button {
		align-items: center;
	}
}

@media only screen and (max-width: 750px) {
	#main-section {
		flex-direction: column;
		margin: 0px auto;
		padding: 80px 15px 60px;
		width: fit-content;
		gap: 60px;
	}
	#main-section .choice #middleDiv .linePhoto {
		margin: 0px 0px 0px auto;
	}
	#main-section .choice #middleDiv .lineWho {
		font-size: 1.5rem;
	}
	#main-section .choice #decision-button {
		flex-direction: column-reverse;
	}
	#main-section .choice #decision-button input {
		margin: 10px auto;
	}
	#samouczek-container {
		bottom: 250px
	}
}

@media only screen and (max-width: 650px) {
	#main-section-index {
		height: 250px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#contrast-and-font-size {
		left: 30%;
	}
	#loading-screen li {
		font-size: 30px;
		margin: 0px 5px;
	}
	@keyframes loadingScreen {
		0% {
			font-size: 60px;
			margin: 0px 100px;
			color: var(--chapter-background-color);
		}
		70% {
			font-size: 30px;
			margin: 0px 5px;
			color: var(--chapter-background-color);
		}
		100% {
			color: white;
		}
	}
}

@media only screen and (max-width: 500px) {
	#main-section {
		padding-top: 120px
	}
	#contrast-and-font-size {
		display: flex;
		flex-direction: column;
		align-items: center;
		top: 10px;
		left: 40px;
	}
	#main-section .choice #middleDiv .bigPhoto {
		min-width: 200px;
	}
	#samouczek-box {
		min-width: 250px;
	}
}

/* @media only screen and (max-width: 430px) {
	#contrast-and-font-size {

	}
} */

/* ---------------------------------------------------- */
/* ---------------------- FOOTER ---------------------- */
/* ---------------------------------------------------- */

footer {
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 0.457);
	font-size: 0.5rem;
	font-family: Rubik, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 70px; 
}

footer section {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

footer h1 {
	font-weight: 500;
}

#google_translate_element {
	display: flex;
	justify-content: center;
} 